@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&family=Inter:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --color-navy: #12172B;
  --color-gold: #E8A33D;
  --color-teal: #3FD6C4;
  --color-offwhite: #F2EFE9;
  --color-slate: #9AA0B4;

  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}